
@{
    ViewBag.Title = "Главная";
}
<h2>Онлайн библиотека</h2>
@if (User.Identity.IsAuthenticated)
{
    <h4>Контент о сайте</h4>
}
else
{
    <h3>Пожалуйста авторизируйтесь или зарегистрируйтесь!</h3>
    <h4>Контент о сайте</h4>
}

